extends shared/layout

block content
  div(class="max-width-2 mr-auto ml-auto")
    div
      h1(class="mt0")= title
      div
        form(action="/profile" method="post")
          div.mb2
            label.mb1 Email
            input(
              type="email",
              disabled="true"
              placeholder=locals.user.email
            )
          div.mb2
            label.mb1 First Name
            input(
              type="text",
              name="profile[firstName]",
              value=profile.firstName
            )
          div.mb2
            label.mb1 Last Name
            input(
              type="text",
              name="profile[lastName]",
              value=profile.lastName
            )
          div
            button(type="submit") Update
