extends shared/layout

block content
  div.container
    div(class="max-width-2 mr-auto ml-auto")
      div.mb3.pt3
        h1= title
      div
        form(action="/my-account" method="post")
          div(class="form-row")
            label Email
            input(
              type="email",
              disabled="true"
              placeholder=locals.user.email
            )
          div(class="form-row")
            label First Name
            input(
              type="text",
              name="profile[firstName]",
              value=profile.firstName
            )
          div(class="form-row")
            label Last Name
            input(
              type="text",
              name="profile[lastName]",
              value=profile.lastName
            )
          div(class="form-row form-row--bottom")
            button(
              type="submit",
              class="btn btn--primary"
            ) Update
